<!--
2016.9.18 CKS

Takes the URDF description of the robot and JointState messages published by the head_arduino node
and calculates the current pose of the robot. 

http://wiki.ros.org/robot_state_publisher

If you get the error librobot_state_publisher_solver.so: cannot open shared object file: No such file or directory
make sure you're launching this from the src/ros directory and have sourced setup.bash.
-->
<launch>
    <arg name="model" default="$(find ros_homebot_description)/urdf/homebot.urdf.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
</launch>
