<!--
roslaunch ros_homebot_base serial_torso.launch

rostopic pub /torso_arduino/toggle_led std_msgs/Empty -once
rostopic pub /torso_arduino/force_sensors std_msgs/Empty -once

rostopic echo 
-->
<launch>
    <group ns="torso_arduino">a
        <node pkg="ros_homebot" type="serial_node.py" name="serial_node" output="screen">
            <param name="~port" command="list_arduinos.py torso" />
            <param name="~baud" value="57600" />
        </node>
    </group>
</launch>
